.header {
display: block;
position: relative;
}

.sections {
    position: relative;
    display: flex;
    justify-content: start;
}

.sections>div {
    padding-right: 20px;
    margin-right: 20px;
}